header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}

header h1 {
    padding: 15px;
}

.card {
    margin-top: 10px; 
}

.card-header {
    background-color: blue;
    color: white;
}

.card-body {
    margin: 10px;
}